.angry-grid {
   display: block;
}

@media (min-width: 992px) {

   .angry-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      gap: 1rem;
   }

   #item-0 {
      grid-row-start: 1;
      grid-column-start: 1;

      grid-row-end: 2;
      grid-column-end: 2;
      height: fit-content;
   }

   #item-1 {
      grid-row-start: 1;
      grid-column-start: 2;

      grid-row-end: 2;
      grid-column-end: 3;
      height: fit-content;
   }

   #item-2 {
      grid-row-start: 2;
      grid-column-start: 1;

      grid-row-end: 3;
      grid-column-end: 3;
      height: fit-content;
   }

   #item-3 {
      grid-row-start: 1;
      grid-column-start: 3;

      grid-row-end: 3;
      grid-column-end: 4;
      height: fit-content;
   }

}